blockquote {
  border-right: 5px solid #ECEFF1;
}
.body-container .InfoAuthor {
  background-color: #fff;
  padding: 1%;
}
.imgAuthor {
  background-color: #;
}
.nameAuthor,.dateRegister {
  background-color: #;
}
.nameAuthor h5 {
  color: #3B77BC;
  margin: 0;
  padding: 1% 3%;
}
.dateRegister {
  color: #aaa;
}
.imgAuthor img{
  height: 120px;
  width: 120px;
}
