blockquote {
  border-right: 5px solid #ECEFF1;
}
.body-container .InfoAuthor {
  background-color: #fff;
  padding: 1%;
}
.imgAuthor {
  background-color: #;
}

.nameAuthor,.dateRegister {
  background-color: #;
}
.SocialIcons {
  background-color: #fff
}
.SocialIcons i{
  font-size: 25px;
  color: #aaa;
}
.SocialIcons i:hover {
  opacity: .5;
}
.nameAuthor h5 {
  color: #3B77BC;
  margin: 0;
}
.dateRegister {
  color: #aaa;
}
.imgAuthor img{
  height: 115px;
  width: 120px;
}
