* {
    font-family: 'Droid-Regular';
}
body {
    direction: rtl;
    background-color: #E8E8E8;
}

.darkblue {
    color: #2D3E52;
}

@font-face {
    font-family: 'Droid-Regular';
    src: url('AR-Fonts/DroidKufi-Regular.ttf');
}

@font-face {
    font-family: 'Droid-Bold';
    src: url(AR-Fonts/DroidKufi-Bold.ttf);
}

.fl-right{
  float: right;
}
.fl-left{
  float: left;
}
.modal-content{
  background-color: #;
}
.modal {
  overflow: hidden;
}
.modal.modal-fixed-footer .modal-content {
  height: auto;
  padding: 3% 0;
}
.header-modal {
  background-color: #;
  padding: 1% 0;
}
.modal .register, .modal .login {
  /*background-color: #080;*/
  padding: 2%;
}
.input-field label {
  width: 100%;
  padding: 0 4%;
  text-align: right;
}
.register  .content-register, .login  .content-login  {
}
.header {
    padding: 4% 0 0 0 !important;
    background-color: #F7F7F7;
    /*    background-image: url('images/Bg2.png');*/
    color: #fff;
    border-bottom: 1px solid #2D3E52;
}

.navbar {
    padding: 3% 0 !important;
    color: #fff;
}

.logo-container img {
    width: 250px;
}

.logo-container {
    padding: 0 0;
}

.navbar {
    list-style: none;
}

.navbar li {
    display: inline-block;
}

.navbar li .btn {
    box-shadow: none;
    background-color: transparent;
    color: #2D3E52;
}

.navbar li .btn:hover {
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
    background-color: transparent;
}

.navbar li a {
    background-color: none;
    display: block;
    color: #2D3E52;
}

.register {
    border-right: 1px solid #2D3E52;
}

@media (max-width: 992px) {
    .register {
        border-right: none !important;
    }
}
