/*Fonts*/
@font-face {
    font-family: 'Swissra-Black';
    src: url('AR-Fonts/OTF/Swissra Black.otf');
}

@font-face {
    font-family: 'Swissra-Bold';
    src: url('AR-Fonts/OTF/Swissra Bold.otf');
}
@font-face {
    font-family: 'Swissra-Heavy';
    src: url('AR-Fonts/OTF/Swissra Heavy.otf');
}
@font-face {
    font-family: 'Swissra-Light';
    src: url('AR-Fonts/OTF/Swissra Light.otf');
}
@font-face {
    font-family: 'Swissra-Medium';
    src: url('AR-Fonts/OTF/Swissra Medium.otf');
}
@font-face {
    font-family: 'Swissra-Normal';
    src: url('AR-Fonts/OTF/Swissra Normal.otf');
}
@font-face {
    font-family: 'Swissra-Thin';
    src: url('AR-Fonts/OTF/Swissra Thin.otf');
}
@font-face {
    font-family: 'Swissra-Ultra-Light';
    src: url('AR-Fonts/OTF/Swissra Ultra Light.otf');
}
/*Fonts*/
/*Fonts Logo*/
@font-face {
    font-family: 'Core-Rhino';
    src: url('Logo-Font/CoreRhino45Regular.otf');
}
/*Fonts Logo*/
/* Colors */
  /*
    2D3E52
    3b77bd
  */
/* Colors */
* {
    font-family: 'Swissra-Normal','Core-Rhino';
}

body {
    direction: rtl;
    background-color: #E8E8E8;
}
.darkblue2 {
    color: #3b77bd;
}
.darkblue {
    color: #2D3E52;
}

.bg-darkblue {
    background: #2D3E52;
}
/*Header*/
.mobile-toggle {
    display: none;
    background: transparent;
    color: #2D3E52;
    border: none;
    font-size: 250%;
}

.mobile-toggle:target,
.mobile-toggle:active,
.mobile-toggle:focus {
    background: transparent;
}

.navbar-container ul li a {
    font-size: 14px;
}
.dropdown li a {
  font-size: 12px;
}
.fl-right {
    float: right;
}

.fl-left {
    float: left;
}

.modal-content {
    background-color: #;
}
.modal-content .btn {
  font-family: 'swissra-light' ;
  color: #3b77bd;
  background-color: transparent;
}
.modal {
    overflow: hidden;
}

.modal.modal-fixed-footer .modal-content {
    height: auto;
    padding: 2% 0;
}

.header-modal {
    background-color: #;
    padding: 1% 0;
}

.modal .register,
.modal .login {
    /*background-color: #080;*/
    padding: 2%;
}

.input-field label {
    width: 100%;
    padding: 0 4%;
    text-align: right;
}

.header {
    padding: 1% 0 !important;
    /*    padding-bottom: 55px !important;*/
    background-color: #F7F7F7;
    /*    background-image: url('images/Bg2.png');*/
    color: #fff;
    border-bottom: 1px solid #2D3E52;
}

.navbar {
    /*padding: 3% 0 !important;*/
    color: #fff;
}

.btn {
    border-radius: 0;
}
.logo-container .logo {
  text-shadow:
rgb(210, 213, 216) 1px 1px,
 rgb(210, 213, 216) 2px 2px,
 rgb(210, 213, 216) 3px 3px,
 rgb(210, 213, 216) 4px 4px,
 rgb(210, 213, 216) 5px 5px,
 rgb(210, 213, 216) 6px 6px,
 rgb(210, 213, 216) 7px 7px;
  ;
  font-size: 26px;
  font-family: 'Core-Rhino';
  color: #3b77bd;
}
.navbar {
    list-style: none;
}

.navbar li {
    display: inline-block;
    text-align: right;
}

.navbar li .btn {
    box-shadow: none;
    background-color: transparent;
    color: #2D3E52;
}

.navbar li .btn:hover
{
  -webkit-box-shadow: 3px 8px 43px -6px rgba(0,0,0,0.75);
  -moz-box-shadow: 3px 8px 43px -6px rgba(0,0,0,0.75);
  box-shadow: 3px 8px 43px -6px rgba(0,0,0,0.75);
  background-color: #2D3E52;
    color: #fff;
}

.navbar li a {
    background-color: none;
    display: block;
    color: #2D3E52;
}
.navbar li .home{
  color: #3b77bd;
}
.navbar li .home:hover
{
  -webkit-box-shadow: 3px 8px 43px -6px rgba(0,0,0,0.75);
  -moz-box-shadow: 3px 8px 43px -6px rgba(0,0,0,0.75);
  box-shadow: 3px 8px 43px -6px rgba(0,0,0,0.75);
  background-color: #3b77bd;
    color: #fff;
}
.register {
    border-right: 1px solid #3b77bd;
}

.dropdown {
    display: none;
    width: 100%;
    list-style-type: none;
    background-color: #2D3E52;
    overflow: auto;
}

.dropdown li {
    display: inline-block;
    padding: 10px 0 10px 0;
    float: right;
}

.dropdown li a {
    text-decoration: none;
    color: #fff;
    font-family: 'Swissra-Light';
}

.dropdown li a:hover {
    background-color: #fff;
    color: #2D3E52;
}

@media (max-width: 992px) {
    .register {
        border-right: none !important;
    }
}
@media (max-width: 595px) {
    .modal .register, .modal .login {
        width: 100%;
    }
}

@media (max-width: 580px) {
    .mobile-toggle {
        display: block;
        float: right;
        width: 100%;
        text-align: right;
    }
    .navbar {
        text-align: right;
        width: 100%;
        display: none;
    }
    .navbar li {
        width: 100%;
        text-align: right;
    }
    .navbar li a {
        text-align: right;
    }
}
/*Header*/
/* Main Body */
.container {
  width: 85%;
  max-width: none;
}
.container .body-container{
  background-color: #fff;
  overflow: hidden;
}
.container .body-container .main {
  background-color: #;
}
.body-container .main .main-header {
  background-color: #f7f7f7;
  padding: 10px;
  color: #3b77bd;
  border-bottom: 1px solid #3b77bd;
}
.main .main-header p, .main .main-header a {
  background-color: transparent;
  box-shadow: none;
  color: #2D3E52;
}
.main .main-header a{font-size: 13px;}
.main .main-header .btn{font-size: 13px;position: relative;bottom: 5px;padding: 0;}
.container .body-container aside {

}
.container .body-container .content-aside {
  background-color: #f7f7f7;
  padding: 5px;
  border:1px solid  #aaa;
  margin: 1% 0;
}
.container .body-container aside .Ads300250 {
  width: 300px;
  height: 250px;
  background-color: #fff;
  padding: 5px;
  margin: 0 auto;
  border:1px solid  #2D3E52;
}
.container .body-container aside .Ads160600 {
  width: 160px;
  height: 600px;
  background-color: #fff;
  padding: 5px;
  margin: 0 auto;
  border:1px solid  #2D3E52;
}
.container .body-container aside .Ads160600 p,.container .body-container aside .Ads300250 p {
  padding: 35% 0;
}
.main .articles {
  overflow: hidden;
  /*background-color: #080;*/
  padding: 5px;
  margin: 1% 0;

}
.main .article {
  margin: 1% 0;
  background-color: #f7f7f7;
  border-bottom: 1px solid #3b77bd;
  padding: 0;
}
.main .content {
  padding: 0;
}
.main .article .author{
  /*background-color: #00f;*/
  padding: 4% 0;
  border-left: 1px solid #ddd;
  overflow: hidden;
}
.main .article .author .author-img,
.main .article .author .author-name {
  overflow: hidden;
  text-align: center;
  /*background-color: #080;*/
  /*border-bottom: 1px solid #ddd;*/
}
.main .article .author .author-name {
  overflow: hidden;
}
.main .articles .article .title-content {
  /*background-color: #f00;*/
  padding: 1%;
  border-bottom: 1px solid #ddd;
}
.main .articles .article .title-content h5 {
  margin: 0;
  color: #3b77bd;
}

.main .articles .article .content-article {
  /*background-color: #00f;*/
  text-align: justify;
  line-height: 1.6;
  border-bottom: 1px solid #ddd;
}
.main .articles .article .content-article p { font-family: 'Swissra-light','Core-Rhino';}
.main .articles .article .footer-content span{
      font-family: 'Swissra-light','Core-Rhino';
}
.main .article .author .author-img .responsive-img {
  width: 50%;
}
  /* Main Media */
  @media (max-width: 980px) {
    .row .col.m9,.row .col.m3,.row .col.m2,.row .col.m10 {
      text-align: center;
      width: 100%;
    }
    .row .col.m9,.row .col.m3 {
      text-align: center;
      width: 100%;
    }
    .container .body-container aside {
      margin:3% 0;
    }
  }
  /* Main Medie */

/* Footer */

/* Footer */
